*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
}

header {
  text-align: center;
  width: 100%;
  height: 102px;
  background-color: #333;
  padding: 6px;
  color: #fff;
  box-sizing: border-box;
}

header img {
  height: 50px;
  vertical-align: middle;
  margin-right: 12px;
}

#country-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  gap: 20px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 10px;
}

.country-card {
  display: flex;
  flex-direction: column;
  padding: 28.8px;
  background-color: #E0E0E0;
  gap: 4.32px;
  cursor: pointer;
}

.country-card h2 {
  margin: 0;
}

.country-card img {
  width: 200px;
  height: 105px;
}

.country-info {
  display: flex;
  flex-direction: column;
  gap: 4.32px;
}

.country-info p {
  margin: 0;
}

form {
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

form div {
  display: flex;
  flex-direction: column;
}

input, select{
  height: 49.6px;
  border-radius: 5px;
  padding: 12px;
}
input[type="text"] {
  width: 200px;
}

select {
  width: 150px;
}

button {
  margin-left: 32px;
  height: 38.4px;
  padding: 0 24px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#back-btn {
  margin-top: 32px;
  padding: 0 40px;
}

button:hover {
  background-color: #555;
}

.country-card-details {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: center;
  align-items: center;
}

.country-card-details img {
  max-width: 500px;
  display: block;
}

.country-card-details p {
  text-align: left;
  margin: 4.32px;
}

.country-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  margin-left: -230px;
}